{% extends 'base.html.twig' %}

{% block title %}Hello SpotifyController!{% endblock %}

{% block body %}
    <a href="{{ path('app_spotify_update_my_playlist') }}" role="button">Update this !</a>
    <a href="{{ path('app_spotify_recommendations') }}" class="spotify-button">Recommandations classiques</a>
    <a href="{{ path('app_spotify_ai_recommendations') }}" class="spotify-button">
    Recommandations IA</a>
    <article>
        <header>
            <h1>Your actual top 30 Playlist in Spotify:</h1>
        </header>
        <h3> Here is your LATEST Playlist : </h3>
        <ul>
            {% for item in tracks.items %}
                <li>{{ item.track.name }} - {{ item.track.artists[0].name }}</li>
            {% endfor %}
        </ul>
    </article>

{% endblock %}
